@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: white;
  --foreground: black;
}

input:checked + label {
  color: green !important;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #888;
}

.timeit-wrapper-0-1-1 svg {
  color: blue;
}

.required:after {
  content: " *";
  color: red;
}

.segmented-control {
  display: inline-block;
  border: 1px solid #4155fe;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 3px;
}
.segmented-control__item {
  float: left;
  list-style-type: none;
}
.segmented-control__input {
  position: absolute;
  visibility: hidden;
}
.segmented-control__label {
  display: block;
  padding: 0.2em 4em;
  margin: -1px 0;
  border-left: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.segmented-control__item:first-child .segmented-control__label {
  border-left-width: 0;
}
.segmented-control__label:hover {
  background: #fafafa;
}
.segmented-control__input:checked + .segmented-control__label {
  background: #4155fe;
  color: #fff;
}

#box {
  background: url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
  background-size: cover;
  border: 2px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: movimiento 10s linear 0s infinite;
  box-shadow: 0 0 25px RGBA(255, 255, 255, 0.1), -8px -8px 15px #000 inset,
    2px 2px 25px #000 inset, -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
    25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
  margin: 1em auto;
  transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 355px 0;
  }
}
